node_modules/
dist/
.DS_Store

contracts-hub/out/
contracts-hub/cache/
contracts-hub/broadcast/
contracts-hub/foundry.lock

contracts-v4/out/
contracts-v4/cache/
contracts-v4/broadcast/
contracts-v4/foundry.lock

contracts-degenetics/lib/
contracts-degenetics/out/
contracts-degenetics/cache/

.env
.env.*
artifacts/
!contracts-v4/test/artifacts/
!contracts-v4/test/artifacts/*.sol
